<section>
    <article>
        <div class="from-container">
            <h1>email</h1>
            <form id="form">
                <label for="user">user:</label>
                <input type="text" [(ngModel)]="email" name="user" id="user">
                <label for="password">Password:</label>
                <input type="password" [(ngModel)]="password" name="password" id="password">
                <button type="button" (click)="login()">Submit</button>
                @if (Error != '') {
                <p id="error" class="error">{{Error}}</p>
                }
            </form>
            <p>Back to <a routerLink="/">Home</a></p>
        </div>
    </article>
    <a href="https://api.whatsapp.com/send/?phone=573183389821&text=Hola%2C+me+quiero+comunicar+con+el+equipo+de+VetCare&type=phone_number&app_absent=0"
        target="_blank" class="whatsapp-button" aria-label="Chat on WhatsApp"
        style="position: fixed; bottom: 20px; right: 20px; width: 50px; height: 50px; border-radius: 50%; overflow: hidden; z-index: 1000;">
        <img src="../../../assets/whatsapp-logo.png" alt="WhatsApp" style="width: 100%; height: 100%;" />
    </a>
</section>