<app-navbar></app-navbar>

<div class="carrusel">
    <app-carrusel></app-carrusel>


    <section id="contenidos">
        <aside>
            <div class="flotante">
                <div class="contacto">
                    <h3>Contact Us</h3>
                    <p>¿Do you have any questions or comments? We are here to help you!</p>
                    <ul>
                        <li>Email: example#example.com</li>
                        <li>Phone: +123456789</li>
                        <li>Address: Example Street, City</li>
                    </ul>
                </div>
            </div>
        </aside>

        <section class="Tarjetas">
            <article class="card">
                <div class="card-container">
                    <div class="img-container">
                        <img src="../../../assets/logo2.png" alt="">
                    </div>
                    <div class="article-body">
                        <h2>EcoPet</h2>
                        <p>
                            Exotics Animals Care.
                        </p>
                        <Button class="btn-card">Learn more</Button>
                    </div>
                </div>
            </article>
            <article class="card">
                <div class="card-container">
                    <div class="img-container">
                        <img src="../../../assets/hurones.png" alt="">
                    </div>
                    <div class="article-body">
                        <h2>General Clinical Care</h2>
                        <p>
                            To ensure an accurate diagnosis, it is necessary to perform a medical evaluation of your
                            pet.
                            We start by examining the eyes, ears, and skin, and inspecting the cardiovascular,
                            neurological,
                            gastrointestinal, and skeletal systems to detect any abnormalities.
                        </p>
                        <Button class="btn-card">Learn more</Button>
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="card-container">
                    <div class="img-container">
                        <img src="../../../assets/parrot-bird-tropical-ara-animal-world-cute-bill-exotic-color-yellow.png"
                            alt="">
                    </div>
                    <div class="article-body">
                        <h2>Specialized Medical Consultation</h2>
                        <p>
                            Many of our patients require an evaluation or follow-up by our veterinary specialists
                            according
                            to the complexity of the clinical and/or surgical medical issues to be addressed.
                        </p>
                        <Button class="btn-card">Learn more</Button>
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="card-container">
                    <div class="img-container">
                        <img src="../../../assets/pigs-a.png" alt="">
                    </div>
                    <div class="article-body">
                        <h2>Check Your Medical History</h2>
                        <p>
                            Forget about visiting physical locations and waiting in line; here you can check your pet's
                            medical history with a click, from the comfort of your home.
                        </p>
                        <Button class="btn-card">Learn more</Button>
                    </div>
                </div>
            </article>

        </section>
    </section>
    <a href="https://api.whatsapp.com/send/?phone=573183389821&text=Hola%2C+me+quiero+comunicar+con+el+equipo+de+VetCare&type=phone_number&app_absent=0"
        target="_blank" class="whatsapp-button" aria-label="Chat on WhatsApp"
        style="position: fixed; bottom: 20px; right: 20px; width: 50px; height: 50px; border-radius: 50%; overflow: hidden; z-index: 1000;">
        <img src="../../../assets/whatsapp-logo.png" alt="WhatsApp" style="width: 100%; height: 100%;" />
    </a>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>