<app-navbar></app-navbar>

<main>
    <section class="acciones">
        @if (role == '4'){
        <h2 id="titulo">My Pets</h2>
        }@else {
        <h2 id="titulo">Pets</h2>
        @if (listPets.length !== 0 && !buscar) {
        <button class="btn" (click)="Buscar()"><fa-icon [icon]="lupa"></fa-icon> Search</button>
        }
        @if (buscar) {
        <section class="busqueda">
            <form action="" id="form-buscar">
                <input type="text" [(ngModel)]="filtarNombre" name="nombre" class="params"
                    placeholder="Ingrese el nombre">
                <input type="number" [(ngModel)]="filtarCed" name="cedula" class="params"
                    placeholder="Ingrese la cedula del dueño">
                <button (click)="filtrarMascota()" class="btn" type="button"><fa-icon [icon]="lupa"></fa-icon>
                    Buscar</button>
                <button (click)="getMascotas()" (click)="buscar=false" class="btn" id="cerrarBuscar" type="button">
                    <fa-icon [icon]="cerrar"></fa-icon> Cerrar búsqueda</button>
            </form>
        </section>
        }
        }
        <div>

            <button class="btn" (click)="mostrarForm(0)" id="add"><fa-icon [icon]="faPlus"></fa-icon> Add
                Pet</button>
        </div>
    </section>

    @if (listPets.length !== 0) {
    <section class="contenido">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Species</th>
                    <th>Raza</th>
                    <th>Color</th>
                    <th>Size(cm)</th>
                    <th>Weight</th>
                    <th>Owner Id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (item of listPets; track item.mascotaId) {
                <tr>
                    <td>{{item.Nombre}}</td>
                    <td>{{item.Edad}}</td>
                    <td>{{item.Especie}}</td>
                    <td>{{item.Raza}}</td>
                    <td>{{item.Color}}</td>
                    <td>{{item.Tamanio}}</td>
                    <td>{{item.Peso}}kg</td>
                    <td>{{item.Client.cedula}}</td>
                    <td class="btns">
                        <div class="container">
                            <button class="Edit" (click)="mostrarForm(item.mascotaId!)">
                                <fa-icon [icon]="faPenToSquare"></fa-icon> Edit
                            </button>
                            <!-- <button (click)="historialVacunas(item.mascotaId!)" class="btn">
                                <fa-icon [icon]="vacuna"></fa-icon> Historial Vacunas
                            </button> -->
                        </div>
                        <div class="container">
                            <button (click)="eliminarMascota(item.mascotaId!, item.Nombre)" class="Delete">
                                <fa-icon [icon]="faTrash"></fa-icon> Delete
                            </button>
                            <!-- <button (click)="historialClinico(item.mascotaId!)" class="btn">
                                <fa-icon [icon]="clinico"></fa-icon> Historial Clinico
                            </button> -->
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </section>
    }@else {
    <h3>No hay Mascotas Registradas</h3>
    }
</main>

<app-footer></app-footer>