<app-navbar></app-navbar>

<main>
    <div class="about-section">
        <div class="inner-container">
            <h1>About us </h1>
            <p class="text">
                Welcome to PetCare Veterinary Clinic! <br>

                At PetCare, our mission is to provide exceptional veterinary care and compassion for every pet that
                comes through our doors.
                With a dedicated team of highly qualified veterinarians and staff,
                we are committed to promoting the health and well-being of your beloved companions <br>
                Created by
                EmbmCorp software development company small scale sample
                <br>
                Versión 1.0.0
            </p>
            <div class="skills">

                <span>Emmanuel Bolivar Marín</span>

            </div>

        </div>
    </div>
</main>

<app-footer></app-footer>