<section>
    <article>
        <div class="from-container">
            <h1>{{operacion}} Mascota</h1>
            <form [formGroup]="form" (ngSubmit)="CUMascota()" id="form">
                <div class="inputs">
                    <div class="group">
                        <label for="nombre" class="form-input">Name:</label>
                        <input formControlName="nombre" type="text" id="nombre" class="form-input"
                            placeholder="Enter the name" required>
                        @if (form.get('nombre')?.hasError('required') && form.get('nombre')?.touched) {
                        <span>*required field*</span>
                        }
                        <label for="edad" class="form-input">Age:</label>
                        <input formControlName="edad" type="number" id="edad" class="form-input"
                            placeholder="Enter the age" required>
                        @if (form.get('edad')?.hasError('required') && form.get('edad')?.touched) {
                        <span>*required field*</span>
                        }
                        <label for="especie" class="form-input">Species:</label>
                        <select id="role" title="." formControlName="especie" (change)="capturarEspecie($event)">
                            <option value="agapornis">lovebird</option>
                            <option value="nymphs">nymphs</option>
                            <option value="Kramers">Kramers</option>
                            <option value="rosellas ">rosellas </option>
                            <option value="Ferrets">Ferrets </option>
                            <option value="Hedgehogs">Hedgehogs </option>
                            <option value="mini pigs ">mini pigs </option>
                            <option value="Chameleons">Chameleons </option>
                            <option value="ornamental fish">ornamental fish</option>
                        </select>
                        @if (form.get('especie')?.hasError('required') && form.get('especie')?.touched) {
                        <span>*required field*</span>
                        }
                        <label for="raza" class="form-input">Race:</label>
                        <input formControlName="raza" type="text" id="raza" class="form-input"
                            placeholder="Enter the race" required>
                        @if (form.get('raza')?.hasError('required') && form.get('raza')?.touched) {
                        <span>*required field*</span>
                        }
                    </div>
                    <div class="group">
                        <label for="color" class="form-input">Color:</label>
                        <input formControlName="color" type="text" id="color" class="form-input"
                            placeholder="Enter the  color" required>
                        @if (form.get('color')?.hasError('required') && form.get('color')?.touched) {
                        <span>*required field*</span>
                        }
                        <label for="tamaño" class="form-input">Size (CM)</label>
                        <input formControlName="tamaño" type="number" id="tamaño" class="form-input"
                            placeholder="Enter the size on cm" required>
                        @if (form.get('tamaño')?.hasError('required') && form.get('tamaño')?.touched) {
                        <span>*required field*</span>
                        }
                        <label for="peso" class="form-input">Weight</label>
                        <input formControlName="peso" type="number" id="peso" class="form-input"
                            placeholder="Enter the weigth" required>
                        @if (form.get('peso')?.hasError('required') && form.get('peso')?.touched) {
                        <span>*required field*</span>
                        }
                        @if (rol == '4'){
                        <label for="cedDueno" class="form-input">Owner ID:</label>
                        <p id="cedDueno" class="form-input">
                            {{ ced }}
                        </p>

                        }@else {
                        <label for="cedDueno" class="form-input">Owner ID:</label>
                        <input formControlName="cedulaDueño" type="number" id="cedDueno" class="form-input"
                            placeholder="Enter the owner ID" required>
                        @if (form.get('cedulaDueño')?.hasError('required') && form.get('cedulaDueño')?.touched) {
                        <span>*required field*</span>
                        }

                        }
                    </div>
                </div>
                <div class="botones">
                    <button class="btn" id="cancel" (click)="volver()"><fa-icon [icon]="cancelar"></fa-icon> Cancelar
                    </button>
                    <button type="button" class="btn" id="save" (click)="CUMascota()">
                        <fa-icon [icon]="guardar"></fa-icon> Save
                    </button>
                </div>
            </form>
        </div>
    </article>
</section>